.check-list-container {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.check-list-icon {
  fill: var(--dl-color-link-link-500);
  width: var(--dl-size-size-xsmall);
  height: 24px;
}


















