.container-container {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1140px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
@media(max-width: 991px) {
  .container-container {
    max-width: 960px;
  }
}
@media(max-width: 767px) {
  .container-container {
    padding: var(--dl-space-space-twounits);
    max-width: 540px;
  }
}
@media(max-width: 479px) {
  .container-container {
    padding: var(--dl-space-space-oneandhalfunits);
  }
}
