@import "../src/teleporthq/style.css";
@import "../src/teleporthq/pages/home.css";
@import "../src/teleporthq/components/check-list.css";
@import "../src/teleporthq/components/features-detail.css";
@import "../src/teleporthq/components/navbar.css";
@import "../src/teleporthq/components/primary-button.css";
@import "../src/teleporthq/components/product-details.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
